# IDE settings
.vscode/
.DS_Store

# Python
__pycache__/
*.egg*
build/

# Jupyter
*-checkpoint.ipynb

# Compiled or Cython
_C.*

# Outputs and model files
outputs/
checkpoints/
demo/backend/checkpoints/*.pt

# Virtual environments
**env**/

# SLURM output logs
slurm*.out

# Excess files I dont't want to track
Excess_files/
